body{
    background-color: rgb(59, 40, 40);
}
header{
    max-width: 5000px;
    background-color: rgb(177, 176, 167);
    color: aliceblue;
    border-radius: 12px;
    padding: 10px;
}
nav{
    text-decoration: none;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:15px;
}
nav ul{
    list-style: none;
}
main{
    width: 100%;

    margin:0 auto;
    background-color: rgb(255, 252, 252);
    padding: 10px;
    border-radius: 12px;
}
section{
    width: 90%;
    padding: 13px;
    border-radius: 12px;
    background-color: rgb(177, 108, 108);
    margin: 0 auto;
    box-shadow: 0 5px 20px rgb(162, 74, 121);
}
img{
    display: block;
    margin: 0 auto;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    padding: 20px;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-align: center;
}
li{
    padding: 10px;
    text-align: center;
    margin-inline: 20px;
    display: flex ;
    display: block;
}
nav a{
    padding: 12px 10px;
}
footer{
    text-align: center;
    color: aliceblue;
}